<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>CseForum</span></h1>
								<h3>A Question Answer website for CSE department</h3>
								<p class="about-paddingB">By using this website students can ask questions , answer the questions asked by different students.</p>
								<p>Students can get the guidance of teachers as well as senior students and problem solving skill will also get enhanced.</p>
						
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<%= image_tag('questions-and-answers.jpg')%>
							</div>
						</div>	
                    </div>
                </div>
            </div>