<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>Cse Forum</h1>
<p>This is the technical discussion forum of Computer science and Engineering(CSE) department of Walchand college od Enginering, Sangli. Students as well as teachers can also take part in this question answer forum .</p>
<%=link_to "Sign Up" ,new_user_registration_path,class:"btn btn-primary btn-primary btn-lg" %>

</div>